<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div align="center">
    <div align="center" class="border">
        <div class="header">
            <h1 class="word">Register</h1>
        </div>
        <h2 class="word">
            <form action="/register" method="POST">
                <div class="msg">{{msg}}</div>
                <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox"></br></br>
                <input id="password" name="password" type="text" placeholder="Enter your password" class="textbox"></br></br>
                <input id="email" name="email" type="email" placeholder="Enter your email" class="textbox"></br></br>
                <input type="submit" value="Sign Up" class="btn"></br></br>
            </form>
        </h2>
        <p class="bottom">Already have account? <a class="bottom" href="/register">Sign up here</a></p>
    </div>
   </div> 
</body>
</html>